/.idea

/symfony_demo/app/config/parameters.yml
/symfony_demo/build/
/symfony_demo/phpunit.xml
/symfony_demo/var/*
/symfony_demo!/var/cache
/symfony_demo/var/cache/*
/symfony_demo!var/cache/.gitkeep
/symfony_demo!/var/data
/symfony_demo!/var/logs
/symfony_demo/var/logs/*
/symfony_demo!var/logs/.gitkeep
/symfony_demo!/var/sessions
/symfony_demo/var/sessions/*
/symfony_demo!var/sessions/.gitkeep
/symfony_demo!var/SymfonyRequirements.php
/symfony_demo/vendor/
/symfony_demo/web/bundles/

